<ion-header class="daily-journal-header">
  <div class="title-container">
      <div class="title text-2xl">Notes</div>
      <div class="flex gap-2">
          <div class="img"></div>
      </div>
  </div>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="p-4 dark:bg-orange-950 h-full rounded-lg shadow-lg">
      <div class="flex items-center justify-between mb-4">
          <h2 class="text-xl font-semibold ">
              {{ currentDate | date: 'MMMM dd yyyy' }}
          </h2>
          <div class="flex gap-2">
              <button (click)="previousMonth()"
                  class="p-2  hover:text-gray-900 hover:bg-gray-100 rounded-lg">
                  <ion-icon name="chevron-back-outline"></ion-icon>
              </button>
              <button (click)="nextMonth()" class="p-2  hover:text-gray-900 hover:bg-gray-100 rounded-lg">
                  <ion-icon name="chevron-forward-outline"></ion-icon>
              </button>
          </div>
      </div>

      <div class="grid grid-cols-7 gap-0">
          <div *ngFor="let day of ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat']"
              class="p-2 text-center text-sm font-semibold  col-span-1">
              {{ day }}
          </div>

          <div *ngFor="let date of calendarDays" (click)="handleDateClick(date)"
              [class.bg-white]="isSameMonth(date, currentDate)" [class.bg-gray-50]="!isSameMonth(date, currentDate)"
              [class.border-green-500]="isToday(date)" [class.border-gray-200]="!isToday(date)"
              class="min-h-24 p-2 border hover:bg-gray-50 cursor-pointer transition-colors duration-200">
              <div class="text-sm font-semibold mb-1"
                  [ngClass]="isSameMonth(date, currentDate) ? 'text-gray-900' : 'text-gray-400'">
                  {{ date | date: 'd' }}
              </div>

              <div *ngIf="getEventsForDate(date).length > 0" class="space-y-1">
                  <div *ngIf="getEventsForDate(date).length === 1 ">
                      <div *ngFor="let event of getEventsForDate(date)">
                          <div [ngClass]="getEventTextColor(event.date)" class="text-xs">
                              {{ event.title }}
                          </div>
                      </div>
                  </div>
                  <div *ngIf="getEventsForDate(date).length > 1 ">
                      <div class="text-xs text-nowrap text-ellipsis overflow-hidden inline-block w-full" [ngClass]="getEventTextColor(getEventsForDate(date)[0].date)">
                          {{ getEventsForDate(date)[0].title }}
                      </div>
                      <div *ngIf="getEventsForDate(date).length > 1" class="text-xs text-gray-500">
                          +{{ getEventsForDate(date).length - 1 }} more
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div *ngIf="isModalOpen" class="fixed inset-0 bg-white dark:bg-orange-950 bg-opacity-50 flex items-center justify-center z-50 h-full">
      <div class="bg-white rounded-lg w-full max-w-md mx-4 max-h-screen pt-16 h-full overflow-hidden">
          <div class="p-4 border-b border-gray-200 flex justify-between items-center">
              <h3 class="text-lg font-semibold">
                  Events for {{ selectedDate | date: 'MMMM d, yyyy' }}
              </h3>
              <button (click)="closeModal()" class="text-gray-500 hover:text-gray-700">
                  <ion-icon name="close-outline"></ion-icon>
              </button>
          </div>

          <div class="p-4 overflow-y-auto max-h-[60vh]">
              <div class="space-y-2">
                  <div *ngIf="selectedDate" class="flex flex-col gap-2">
                      <div *ngFor="let event of getEventsForDate(selectedDate)" class="w-full">
                          <button (click)="handleViewEvent(event)" class="w-full">
                              <div class="p-3 rounded-lg border shadow-sm flex flex-col justify-start"
                                  [ngClass]="getEventTextColor(event.date)">
                                  <div class="font-semibold text-start">{{ event.title }}</div>
                                  <div class="text-sm text-start">{{ event.date | date: 'h:mm a' }}</div>
                                  <div *ngIf="event.description" class="text-sm mt-1 text-gray-600 text-start">{{
                                      event.description
                                      }}
                                  </div>
                              </div>
                          </button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div *ngIf="openViewEvent"
      class="fixed inset-0 bg-white bg-opacity-50 flex items-center justify-center z-50 h-full">
      <div class="bg-white rounded-lg w-full max-w-md mx-4 max-h-screen pt-16 h-full overflow-hidden">
          <div class="p-4 border-b border-gray-200 flex justify-between items-center">
              <button (click)="openModalEvent()" class="text-gray-500 hover:text-gray-700">
                  <ion-icon name="arrow-back-outline"></ion-icon>
              </button>

              <div class="flex flex-row gap-4">
                  <button (click)="openEditForm(viewEventData)" class="text-gray-500 text-2xl hover:text-gray-700">
                      <ion-icon name="pencil-outline"></ion-icon>
                  </button>
                  <button (click)="deleteEvent(viewEventData)" class="text-gray-500 text-2xl hover:text-gray-700">
                      <ion-icon name="trash-outline"></ion-icon>
                  </button>
              </div>


          </div>

          <div class="p-4 overflow-y-auto max-h-[60vh]">
              <div class="space-y-2">
                  <div class="p-3">
                      <div class="font-semibold">
                          <label>Title: </label>
                          <span>{{ viewEventData.title }}</span>
                      </div>
                      <hr>
                      <div class="text-sm">{{ viewEventData.date | date: 'h:mm a' }}</div>

                      <div *ngIf="viewEventData.description" class="text-base mt-2 text-gray-600">
                          <label>Description:</label><br>
                          <span>
                              {{ viewEventData.description }}
                          </span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div *ngIf="isModalAddOpen"
      class="fixed inset-0 bg-white dark:bg-orange-950 bg-opacity-50 flex items-center justify-center z-50 h-full w-full">
      <div class="bg-white dark:bg-orange-950 rounded-lg h-full w-full max-w-md mx-4 max-h-full overflow-y-scroll mt-28">
          <div class="p-4 border-b border-gray-200 flex justify-between items-center">
              <h3 class="text-lg font-semibold">
                  {{ isEditMode ? 'Edit Event' : 'Add New Event' }}
              </h3>
              <button (click)="closeAddModal()" class="text-gray-500 hover:text-gray-700">×</button>
          </div>

          <div *ngIf="isAddEventForm" class="p-4 space-y-4">
              <form (ngSubmit)="handleFormSubmit()" #eventForm="ngForm">
                  <div class="mb-4">
                      <label for="eventTitle" class="block text-sm font-medium">Event
                          Title</label>
                      <input type="text" id="eventTitle" name="title" [(ngModel)]="formEvent.title"
                          class="mt-1 block w-full px-3 py-2 border bg-transparent  border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-black focus:border-black sm:text-sm"
                          required>
                  </div>
                  <div class="mb-4 relative">
                      <label for="eventDate" class="block text-sm font-medium">Event Date and Time</label>
                      <div class="relative">
                          <input
                              type="datetime-local"
                              id="eventDate"
                              name="date"
                              #eventDateInput
                              [(ngModel)]="formEvent.date"
                              class="mt-1 block w-full px-3 py-2 z-10 border bg-transparent border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-black focus:border-black sm:text-sm"
                              required
                          />
                          <ion-icon
                              name="calendar-outline"
                              class="absolute right-3 z-0 top-1/2 transform -translate-y-1/2 text-gray-500 pointer-events-none"
                              size="small"
                          ></ion-icon>
                      </div>
                  </div>
                  
                  <div class="mb-4">
                      <label for="eventDescription"
                          class="block text-sm font-medium">Description</label>
                      <textarea id="eventDescription" name="description" [(ngModel)]="formEvent.description"
                          class="mt-1 block w-full px-3 py-2 border bg-transparent  border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-black focus:border-black sm:text-sm"
                          rows="3"></textarea>
                  </div>
                  <div class="flex justify-end">
                      <button type="submit" [disabled]="!eventForm.valid"
                          class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 transition">
                          {{ isEditMode ? 'Update Event' : 'Save Event' }}
                      </button>
                  </div>
              </form>
          </div>

          <div *ngIf="!isAddEventForm" class="p-4 overflow-y-auto max-h-[60vh]">
              <div *ngFor="let event of getEventsForDate(selectedDate)">
                  <div class="p-3 rounded-lg border shadow-sm" [ngClass]="getEventTextColor(event.date)">
                      <div class="font-semibold">{{ event.title }}</div>
                      <div class="text-sm">{{ event.date | date: 'h:mm a' }}</div>
                      <div *ngIf="event.description" class="text-sm mt-1 text-gray-600">{{ event.description }}</div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="custom-fab" *ngIf="!openViewEvent ">
      <ion-fab-button (click)="openAddEventModal()" class="custom-fab-button">
          <ion-icon name="add" class="text-white"></ion-icon>
      </ion-fab-button>
  </ion-fab>



  <ion-alert [isOpen]="isAlertOpen" header="Are you sure you want to delete this?" [buttons]="alertButtons"
      (didDismiss)="handleDeleteNotes($event)">
  </ion-alert>
</ion-content>