.daily-journal-header {
    background: #681F20;
    width: 100%;
    color: #f8f0e5;
    font-family: 'Georgia', serif;
    text-align: start;
    display: flex;
    position: absolute;
    place-items: end;
    position: relative;
    top: 0;
    left: 0;
    right: 0;



    .title-container {
        margin: 14.5px;

        width: 100%;
        place-items: end;
        display: flex;
        justify-content: space-between;

    }

    .title {

        color: #EAA9A9;
        font-family: "PP Right Gothic";
        font-size: 23px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: capitalize;
    }

    .img {
        width: 24px;
        height: 24px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat !important;
        background: url(home-assets/vec.svg);
        animation: rotate-header 3s linear infinite;
    }
}