<div class="flex flex-col items-center justify-center bg-gray-100 min-h-screen">
  <div class="w-full min-h-screen max-w-md bg-white rounded-lg shadow-md  p-6">

      <div class="p-4 border-b border-gray-200 flex justify-between items-start">
          <h2 class="text-xl font-bold text-gray-800 mb-4">Add New Item</h2>
          <div>
              <button (click)="closeForm()" class="text-black">
                  x
              </button>
          </div>
      </div>

      <form (submit)="onSubmit($event)" class="space-y-4">
          
        <div class="mb-4 h-4/5">

            <div class="flex items-center space-x-4 right-0 top-0">
                <button type="button" (click)="triggerFileInput()" class="text-gray-700 text-3xl flex justify-center flex-col items-start gap-4">
                    <span class="text-sm">Select image</span>
                    <ion-icon name="image-outline"></ion-icon>
                </button>
                <input #imageInput type="file" id="image" (change)="onImageSelect($event)" class="hidden"
                    accept="image/*" />
            </div>

            <div *ngIf="imagePreview" class="mt-4 mb-4 w-full flex justify-center">
                <img [src]="imagePreview" alt="Preview"
                    class="object-cover rounded-md w-2/5 h-auto max-h-96 mb-4" />
            </div>
        </div>

          <div>
              <label for="title" class="block text-sm font-medium text-gray-700">Title</label>
              <input type="text" id="title" [(ngModel)]="title" name="title"
                  class="mt-1 block w-full p-2 border bg-transparent text-black border-gray-300 rounded-lg focus:outline-none focus:ring focus:ring-indigo-200"
                  required />
          </div>

          <div>
              <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
              <textarea id="description" [(ngModel)]="description" name="description" rows="3"
                  class="mt-1 block w-full p-2 border border-gray-300 bg-transparent text-black rounded-lg focus:outline-none focus:ring focus:ring-indigo-200"
                  required></textarea>
          </div>

          <div>
              <ion-button type="submit" expand="block" class="w-full text-white py-2 rounded-lg">
                  Save
              </ion-button>
          </div>
      </form>
  </div>
</div>