<ion-content>
    <div class="noise"></div>

    <div class="welcome-container">

        <h2>A Sanctuary for Your Thoughts</h2>
        <div class="image"></div>
        <div class="vector"></div>
        <p>Start keeping track of your thoughts and experiences.</p>
        <button class="get-started-btn" expand="block" routerLink="/tabs/home"
            style="--background: none; --color: black; --border-color: transparent; --box-shadow: none;">
            Get Started
        </button>
    </div>
</ion-content>