<ion-header class="daily-journal-header">
    <div class="title-container">
        <div class="title text-2xl">Settings</div>
        <div class="flex gap-2">
            <div class="img"></div>
        </div>
    </div>
</ion-header>

<ion-content [fullscreen]="true">
    <div class="content_container p-4">
        <div class="profile-container p-2">
            <div class="badge-profile">Display & Setting Profile</div>

            <div class="card bg-red-200 dark:bg-orange-950 p-8 rounded-md flex flex-col justify-center items-center">
                <div class="avatar">
                    <div class="core"></div>
                </div>
                <div class="text-xl font-bold">Mary Rose Rivera</div>
                <div class="text-sm">julainablackamanaloatgmail.com</div>
            </div>
        </div>

        <div class="dark-mode-container p-2">
            <div class="card bg-red-200 dark:bg-orange-950 p-4 rounded-md " (ionChange)="toggleDarkMode()">
                <div class="flex flex-row justify-between px-4">
                    <ion-label class="text-xl font-bold">Dark Mode</ion-label>
                    <ion-toggle [(ngModel)]="darkMode" class="toggle"></ion-toggle>
                </div>
            </div>

            <div class="text-sm">
                Adjust the appearance of Journal to reduce glare and give your eyes a break.
            </div>
        </div>

        <div class="mt-4 p-2 h-full">
            <div class="card bg-red-200 p-4 dark:bg-orange-950 rounded-md flex flex-col">
                <div class="h-[10%] flex flex-row justify-between">
                    <p>Trash Container</p>
                    <div class="flex flex-row gap-4">
                        <ion-checkbox slot="start" class="checkbox" [(ngModel)]="selectAll"
                            (ionChange)="toggleSelectAll()">
                        </ion-checkbox>
                        <span class="ml-2">Select All</span>
                    </div>
                </div>

                <div class="h-80 rounded-lg p-4 ">
                    <div class="flex items-center justify-center h-full" *ngIf="trash.length === 0">
                        <p class="font-bold text-xl text-gray-600 dark:text-gray-300">Empty Trash</p>
                    </div>

                    <div class="flex flex-row gap-4 w-full overflow-x-auto" *ngIf="trash.length > 0">
                        <div *ngFor="let item of trash"
                            class="flex-none bg-red-100 dark:bg-[#250001] p-4 w-64 rounded shadow hover:shadow-lg transition-shadow">
                            <div class="flex flex-row justify-between">
                                <ion-checkbox slot="start" class="checkbox mb-4" [checked]="selectedItems.has(item.id)"
                                    (ionChange)="toggleItemSelection(item.id)">
                                </ion-checkbox>
    
                                <button (click)="showActionSheet(item, 'Inspiration')" class="btn-action">
                                    <ion-icon name="ellipsis-vertical-outline"></ion-icon>
                                </button>
                            </div>

                            <img *ngIf="item?.image" [src]="item.image" alt="{{ item.title }}"
                                class="w-full h-32 object-cover rounded mb-4" />
                            <h3 class="font-bold text-lg text-gray-800 dark:text-gray-200 truncate">
                                {{ item.title }}
                            </h3>
                            <p class="text-gray-600 dark:text-gray-400 text-sm">
                                Deleted from: <span class="font-medium">{{ item.deletedFrom }}</span>
                            </p>

                            <p class="text-gray-600 dark:text-gray-400 text-sm">
                                Deleted at: {{ item.deletedAt | date: 'short' }}
                            </p>
                        </div>
                    </div>
                </div>



                <div class="flex flex-row justify-between h-[10%]">
                    <div class="slide-scroll-container">
                        <p>Slide Scroll</p>
                    </div>

                    <div class="selectall flex flex-row gap-4">
                        <button class="bg-transparent" (click)="removeSelected()">Remove
                            Selected</button>
                        <button (click)="clearTrash()">Clear
                            Trash</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ion-alert [isOpen]="isAlertOpen" header="Are you sure you want to delete this item? This action is irreversible." [buttons]="alertButtons"
        (didDismiss)="handleDeleteItem($event)">
    </ion-alert>

</ion-content>