<div class="noise"></div>
<ion-header class="daily-journal-header">
    <div class="title-container">
        <div class="title">Daily Journal </div>
        <div class="img"></div>
    </div>
</ion-header>

<ion-content class="main">
    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button (click)="handleFormMoment()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <div class="content_container">
        <div class="row-one">
            <div class="container-journal">

                <div class="col-container">
                    <button class="ellipse-one" (click)="handleFormMd()">
                        <div class="ellipse-two">
                            <div class="icon create"></div>
                        </div>
                    </button>
                    <p>Add New</p>
                </div>

                <div class="col-container" *ngFor="let item of allMd; let i = index">
                    <div class="ellipse-one">
                        <div class="ellipse-two">
                            <div class="icon sun">
                                <img [src]="item.image" [alt]="item.title">
                            </div>
                        </div>
                    </div>
                    <p>
                        {{item.title}}
                    </p>
                </div>

            </div>
        </div>
        <div class="row-two">
            <div class="container-mood">
                <div class="row-md-1">
                    <h3>weekly mood</h3>
                    <p>Third Week of Nov 22, 2024</p>
                </div>
                <div class="row-md-2">
                    <div class="container">

                        <div class="col-container-mood">
                            <div class="ellipse-one">
                                <div class="ellipse-two">
                                    <div class="icon create"></div>
                                </div>
                            </div>
                            <p>happy</p>
                        </div>
                        <div class="col-container-mood">
                            <div class="ellipse-one">
                                <div class="ellipse-two">
                                    <div class="icon create"></div>
                                </div>
                            </div>
                            <p>sad</p>
                        </div>
                        <div class="col-container-mood">
                            <div class="ellipse-one">
                                <div class="ellipse-two">
                                    <div class="icon create"></div>
                                </div>
                            </div>
                            <p>good</p>
                        </div>
                        <div class="col-container-mood">
                            <div class="ellipse-one">
                                <div class="ellipse-two">
                                    <div class="icon create"></div>
                                </div>
                            </div>
                            <p>awesome</p>
                        </div>
                        <div class="col-container-mood">
                            <div class="ellipse-one">
                                <div class="ellipse-two">
                                    <div class="icon create"></div>
                                </div>
                            </div>
                            <p>okey</p>
                        </div>
                        <div class="col-container-mood">
                            <div class="ellipse-one">
                                <div class="ellipse-two">
                                    <div class="icon create"></div>
                                </div>
                            </div>
                            <p>bad</p>
                        </div>
                        <div class="col-container-mood">
                            <div class="ellipse-one">
                                <div class="ellipse-two">
                                    <div class="icon create"></div>
                                </div>
                            </div>
                            <p>terrible</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row-three">
            <div class="moment-rw-one">
                <h1>Moment of the Day</h1>
            </div>
            <div class="moment-rw-two">
                <div class="container">
                    <div class="child-rw-one">
                        <div class="child-container">
                            <div class="box">
                                <p>WED</p>

                                <span>12</span>
                            </div>
                            <p class="time">9:00 am</p>
                        </div>
                    </div>
                    <div class="child-rw-two">
                        <div class="small-title">
                            your daily affirmation
                        </div>
                        <div class="description">
                            I am capable of achievering greatnees every challenge is an opportunity for grownth i am
                            worthy of love respect.
                        </div>
                    </div>
                    <div class="child-rw-three"></div>
                </div>
            </div>
        </div>
        <div class="row-four">
            <div class="container-old-moment">
                <div class="row-old-title">
                    <p>November 2024</p>
                </div>
                <div class="row-old-content">

                    <div class="child-container">
                        <div class="box">
                            <p>FRI</p>

                            <span>8</span>
                        </div>
                        <div class="text-container">


                            <div class="small-title">what i was grateful for </div>
                            <div class="description">My family who remember me.</div>
                        </div>
                    </div>


                    <div class="child-container">
                        <div class="box">
                            <p>MON</p>

                            <span>2</span>
                        </div>
                        <div class="text-container">


                            <div class="small-title">what i was grateful for </div>
                            <div class="description">Challenge is an opportunity for grownth i am worthy of love
                                respect..</div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row-five">
            <div class="container-achivements">

                <div class="title-button">

                    <p>My Achivements</p>
                    <div class="wrapper">
                        <button (click)="handleFormAchievements()">
                            <div class="icon"></div>
                        </button>
                    </div>

                </div>
                <div class="container-content">
                    <div class="container-item">

                        <div class="box">

                            <div class="date">
                                <p>Dec 20, 2024 - Mon</p>
                                <span>9:34 am</span>
                            </div>

                            <div class="description">i am capable of achieving greatness every challenge is an
                                opportunity for growth iam worthy of love respect...</div>
                            <div class="image">
                                <div class="wrapper"></div>
                            </div>
                        </div>
                        <div class="box">

                            <div class="date">
                                <p>Dec 20, 2024 - Mon</p>
                                <span>9:34 am</span>
                            </div>

                            <div class="description">i am capable of achieving greatness every challenge is an
                                opportunity for growth iam worthy of love respect...</div>
                            <div class="image">
                                <div class="wrapper"></div>
                            </div>
                        </div>

                        <div class="box">

                            <div class="date">
                                <p>Dec 20, 2024 - Mon</p>
                                <span>9:34 am</span>
                            </div>

                            <div class="description">i am capable of achieving greatness every challenge is an
                                opportunity for growth iam worthy of love respect...</div>
                            <div class="image">
                                <div class="wrapper"></div>
                            </div>
                        </div>

                        <div class="box">

                            <div class="date">
                                <p>Dec 20, 2024 - Mon</p>
                                <span>9:34 am</span>
                            </div>

                            <div class="description">i am capable of achieving greatness every challenge is an
                                opportunity for growth iam worthy of love respect...</div>
                            <div class="image">
                                <div class="wrapper"></div>
                            </div>
                        </div>
                        <div class="box">

                            <div class="date">
                                <p>Dec 20, 2024 - Mon</p>
                                <span>9:34 am</span>
                            </div>

                            <div class="description">i am capable of achieving greatness every challenge is an
                                opportunity for growth iam worthy of love respect...</div>
                            <div class="image">
                                <div class="wrapper"></div>
                            </div>
                        </div>
                        <div class="box">

                            <div class="date">
                                <p>Dec 20, 2024 - Mon</p>
                                <span>9:34 am</span>
                            </div>

                            <div class="description">i am capable of achieving greatness every challenge is an
                                opportunity for growth iam worthy of love respect...</div>
                            <div class="image">
                                <div class="wrapper"></div>
                            </div>
                        </div>
                        <div class="box">

                            <div class="date">
                                <p>Dec 20, 2024 - Mon</p>
                                <span>9:34 am</span>
                            </div>

                            <div class="description">i am capable of achieving greatness every challenge is an
                                opportunity for growth iam worthy of love respect...</div>
                            <div class="image">
                                <div class="wrapper"></div>
                            </div>
                        </div>
                        <div class="box">

                            <div class="date">
                                <p>Dec 20, 2024 - Mon</p>
                                <span>9:34 am</span>
                            </div>

                            <div class="description">i am capable of achieving greatness every challenge is an
                                opportunity for growth iam worthy of love respect...</div>
                            <div class="image">
                                <div class="wrapper"></div>
                            </div>
                        </div>
                        <div class="box">

                            <div class="date">
                                <p>Dec 20, 2024 - Mon</p>
                                <span>9:34 am</span>
                            </div>

                            <div class="description">i am capable of achieving greatness every challenge is an
                                opportunity for growth iam worthy of love respect...</div>
                            <div class="image">
                                <div class="wrapper"></div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <div class="row-six">



            <div class="container-qoutes">
                <div class="title-button">

                    <p>Inspirational Quotes</p>
                    <div class="wrapper">
                        <button (click)="handleFormInspiration()">
                            <div class="icon"></div>
                        </button>
                    </div>

                </div>


                <div class="container-content">

                    <div class="container-item">

                        <div class="box">

                            <div class="date">
                                <p>Dec 20, 2024 - Mon</p>
                                <span>9:34 am</span>
                            </div>

                            <div class="description">I am capable of achieving greatness every challenge is an
                                opportunity for growth iam worthy of love respect...</div>
                            <div class="image">
                                <div class="wrapper"></div>
                            </div>
                        </div>
                        <div class="box b2">

                            <div class="date">
                                <p>Dec 20, 2024 - Mon</p>
                                <span>9:34 am</span>
                            </div>

                            <div class="description">I am capable of achieving greatness every challenge is an
                                opportunity for growth iam worthy of love
                                every challenge is an opportunity for growth iam worthy of loveevery challenge is an
                                opportunity for growth iam worthy of loveevery challenge is an opportunity for
                                growth
                                iam worthy of love respect...</div>
                            <div class="image">
                                <div class="wrapper"></div>
                            </div>
                        </div>


                        <div class="box">

                            <div class="date">
                                <p>Dec 20, 2024 - Mon</p>
                                <span>9:34 am</span>
                            </div>

                            <div class="description">I am capable of achieving greatness every challenge is an
                                opportunity for growth iam worthy of love respect...</div>
                            <div class="image">
                                <div class="wrapper"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
</ion-content>

@if(isMdFormOpen) {
    <MdForm (handleClose)="handleFormMd()" (handleSubmit)="handleSubmitMd($event)"></MdForm>
}

@if(isMomentFormOpen) {
    <FormMoment (handleClose)="handleFormMoment()" (handleSubmit)="handleSubmitMd($event)"></FormMoment>
}

@if(isAchievementFormOpen) {
    <FormAchievements (handleClose)="handleFormAchievements()" (handleSubmit)="handleSubmitAchievement($event)"></FormAchievements>
}
@if(isInspirationFormOpen) {
    <FormInspiration (handleClose)="handleFormInspiration()" (handleSubmit)="handleSubmitInspiration($event)"></FormInspiration>
}