<div class="noise"></div>
<ion-header class="daily-journal-header">
    <div class="title-container">
        <div class="title text-2xl">Daily Journal </div>
        <div class="flex gap-2">
            <ion-icon (click)="handleSearch()" name="search-outline"></ion-icon>
            <div class="img"></div>
        </div>
    </div>
</ion-header>

<ion-content class="main">
    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button (click)="handleFormMoment()">
            <ion-icon name="add" class="text-white"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <div class="content_container">
        <div class="row-one">
            <div class="container-journal">

                <div class="col-container">
                    <button class="ellipse-one" (click)="handleFormMd()">
                        <div class="ellipse-two">
                            <ion-icon name="add" class="text-white h-10 w-10 font-bold"></ion-icon>
                        </div>
                    </button>
                    <p>Add New</p>
                </div>

                <div class="col-container" *ngFor="let item of allMd; let i = index">
                    <button (click)="openView(item)">
                        <div class="ellipse-one">
                            <div class="ellipse-two">
                                <div class="icon sun">
                                    <img [src]="item.image" [alt]="item.title">
                                </div>
                            </div>
                        </div>
                    </button>
                    <p>
                        {{item.title}}
                    </p>
                </div>

            </div>
        </div>
        <div class="row-two">
            <div class="container-mood">
                <div class="row-md-1 mb-2">
                    <h3>weekly mood</h3>
                    <p>Third Week of Nov 22, 2024</p>
                </div>
                <div class="row-md-2">
                    
                    <div class="container space-x-4">
                        <div class="col-container-mood" *ngFor="let day of daysOfWeek">
                            <div class="ellipse-one">
                                <div class="ellipse-two flex items-center justify-center">
                                    <button [id]="day" class="h-full w-full mood relative" (click)="openPopup(day)" #moodButton>
                                        <div class="h-full w-full" *ngFor="let item of allMoods; let i = index">
                                            <div class="h-full w-full" *ngIf="item.day === day">
                                                <img [src]="'assets/emoji/' + item.mood + '-' + item.day.toLowerCase() + '.png'" alt="{{item.mood}}">
                                            </div>
                                        </div>
                                        <ion-icon *ngIf="!hasMood(day)" class="absolute top-0 bottom-0 z-10" name="add"></ion-icon>
                                    </button>
                                </div>
                            </div>
                            <p>{{day}}</p>

                            <ion-popover [trigger]="day" side="top" alignment="center" [dismissOnSelect]="true">
                                <ng-template>
                                    <ion-content class="ion-padding flex flex-row emoji">
                                        <span (click)="saveMood('awesome', day)" class="flex flex-col gap-1">
                                            <span>😊</span>
                                            <p class="text-xs">Happy</p>
                                        </span>
                                        <span (click)="saveMood('good', day)" class="flex flex-col gap-1">
                                            <span>🙂</span>
                                            <p class="text-xs">Good</p>
                                        </span>
                                        <span (click)="saveMood('okey', day)" class="flex flex-col gap-1">
                                            <span>😃</span>
                                            <p class="text-xs">Okey</p>
                                        </span>
                                        <span (click)="saveMood('sad', day)" class="flex flex-col gap-1">
                                            <span>😔</span>
                                            <p class="text-xs">sad</p>
                                        </span>
                                        <span (click)="saveMood('terrible', day)" class="flex flex-col gap-1">
                                            <span>😴</span>
                                            <p class="text-xs">Terrible</p>
                                        </span>
                                    </ion-content>
                                </ng-template>
                            </ion-popover>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row-three gap-2 mb-6">
            <div class="moment-rw-one">
                <h1>Moment of the Day</h1>
            </div>

            <div class="moment-rw-two">
                <div class="container bg-red-200 dark:bg-orange-950" *ngFor="let item of momentsToday; let i = index">
                    <div class="flex flex-row justify-between p-2">
                        <div
                            class="w-16 h-16 bg-white bg-opacity-25 flex items-center justify-center flex-col rounded-xl">
                            <p class="text-lg text-[#530909] dark:text-[#F0E1A9]">{{ item.dayOfWeek }}</p>
                            <span class="text-3xl text-[#530909] dark:text-[#F0E1A9]">{{ item.dayOfMonth }}</span>
                        </div>

                        <p class="time">{{item.hours}}:{{item.minutes}} {{item.amPm}}</p>
                    </div>

                    <div class="p-2 flex flex-col">
                        <div class="text-base text-[#530909] dark:text-[#F0E1A9] text-opacity-15">
                            {{item.title}}
                        </div>
                        <div class="text-base text-[#530909] dark:text-[#F0E1A9]">
                            {{item.description}}
                        </div>
                    </div>

                    <div class="child-rw-three">
                        <img [src]="item.image" [alt]="item.title">
                    </div>
                </div>

            </div>
        </div>
        <div class="p-2 rounded-lg">
            <div class="row-four space-y-2 bg-red-200 dark:bg-orange-950 rounded-md">
                <div *ngFor="let group of groupedMomentsArray" class="container-old-moment space-y-4">
                    <div class="row-old-title flex justify-start items-center p-2">
                        <p>{{ group.month }} {{ group.year }}</p>
                    </div>
                    <div class="child-container border-gray-300 flex flex-row items-end gap-2" *ngFor="let item of group.moments">
                        <div
                            class="w-14 h-14 bg-white bg-opacity-25 flex items-center justify-center flex-col rounded-xl">
                            <p class="text-md text-[#530909] dark:text-[#F0E1A9]">{{ item.dayOfWeek }}</p>
                            <span class="text-lg text-[#530909] dark:text-[#F0E1A9]">{{ item.dayOfMonth }}</span>
                        </div>
                        <div class=" h-14 text-container flex flex-col justify-between">
                            <div class="small-title text-xs">{{ item.title }}</div>
                            <div class="description text-sm">{{ item.description }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row-five flex flex-col gap-2 mt-5">

            <div class="title-button">

                <p>My Achivements</p>
                <div class="wrapper">
                    <button (click)="handleFormAchievements()">
                        <div class="icon"></div>
                    </button>
                </div>

            </div>
            <div class="container-content-5  flex flex-col h-full max-h-[65vh] overflow-y-auto p-2">

                <div class="box-5 bg-red-200 dark:bg-orange-950" *ngFor="let item of allAchievements; let i = index">

                    <div class="date">
                        <p class="text-xs">{{item.month}} {{item.dayOfMonth}}, {{item.year}} - {{item.dayOfWeek}}</p>
                        <span class="text-xs">{{item.hours}}:{{item.minutes}} {{item.amPm}}</span>
                    </div>

                    <div class="description">{{item.description}}</div>
                    <div class="image">
                        <div class="wrapper">
                            <img [src]="item.image" [alt]="item.title">
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="row-six">



            <div class="container-qoutes">
                <div class="title-button">

                    <p>Inspirational Quotes</p>
                    <div class="wrapper">
                        <button (click)="handleFormInspiration()">
                            <div class="icon"></div>
                        </button>
                    </div>

                </div>


                <div class="container-content">

                    <div class="container-item ">

                        <div class="box bg-red-200 dark:bg-orange-950" *ngFor="let item of allInspiration; let i = index">

                            <div class="date">
                                <p>{{item.month}} {{item.dayOfMonth}}, {{item.year}} - {{item.dayOfWeek}}</p>
                                <span>{{item.hours}}:{{item.minutes}} {{item.amPm}}</span>
                            </div>

                            <div class="description2 text-lg">{{item.description}}</div>
                            <div class="image">
                                <div class="wrapper"></div>
                                <div class="pr-2 flex flex-row gap-2">
                                    <button (click)="showDeleteConfirmation(item.id)">
                                        <ion-icon name="trash-outline" class="text-red-500"></ion-icon>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <ion-alert [isOpen]="isAlertOpen" header="Are you sure you want to delete this?" [buttons]="alertButtons"
        (didDismiss)="handleDeleteInspiration($event)">
    </ion-alert>

</ion-content>

@if(isMdFormOpen) {
<MdForm (handleClose)="handleFormMd()" (handleSubmit)="handleSubmitMd($event)"></MdForm>
}

@if(isMomentFormOpen) {
<FormMoment (handleClose)="handleFormMoment()" (handleSubmit)="handleSubmitMoment($event)"></FormMoment>
}

@if(isAchievementFormOpen) {
<FormAchievements (handleClose)="handleFormAchievements()" (handleSubmit)="handleSubmitAchievement($event)">
</FormAchievements>
}
@if(isInspirationFormOpen) {
<FormInspiration (handleClose)="handleFormInspiration()" (handleSubmit)="handleSubmitInspiration($event)">
</FormInspiration>
}

@if(isOpenView) {
<ViewMd [data]="selectedMd" (handleClose)="handleCloseMd()" (handleDelete)="handleDelete($event)"></ViewMd>
}