/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import 'tailwind.css';

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */
/* 
@import "@ionic/angular/css/palettes/dark.always.css";
@import "@ionic/angular/css/palettes/dark.class.css";
@import '@ionic/angular/css/palettes/dark.system.css'; */
@import "@ionic/angular/css/palettes/dark.system.css";
body{
  --ion-background-color: #FEF8E5;
  --ion-text-color: #530909;
    --ion-text-placeholder: #530909;

}
body.dark {
  --ion-background-color: #250001;
  --ion-text-color: #F0E1A9;
  --ion-text-placeholder: #F0E1A9;
}


/* wag gagalawin tong mga css nato! */
.custom-toast {
    --background: #dff9e4; 
    --color: #2ecc71;
    --padding-start: 16px;
    --padding-end: 16px; 
    --border-radius: 12px;
    font-size: 16px;
  }
  
  .custom-toast ion-icon {
    font-size: 100px;
    color: #2ecc71; 
    margin-right: 8px;
  }

  .red-toast {
    --background: #dff9e4; 
    --color: #721c24; 
    --padding-left: 16px;
    --padding-right: 16px; 
    --border-radius: 12px;
    font-size: 16px;
}

.custom-toast ion-icon {
    font-size: 100px;
    color: #721c24;
    margin-right: 8px;
}


.tab-button {
  --color: gray; 
  --background: transparent;
}

.tab-button.tab-selected {
  color: white !important;
}

ion-tab-button.tab-selected ion-icon,
ion-tab-button.tab-selected ion-label {
  color: white !important;
}

ion-tab-button ion-icon,
ion-tab-button ion-label {
  color: gray; 
}

ion-header {
  --background: #721c24; 
}

ion-toolbar {
  --background: #721c24; 
}

ion-title {
  color: white;
}

ion-button.mood {
  --background: #5D3C3C;
  --box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --color: gray;
}

ion-content.emoji {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 10px; 
}

ion-content.emoji span {
  font-size: 24px; 
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px; 
}
